<div class="container">
  <h1>
    <%= @group.name %>
    <% if current_user && current_user == @group.owner %>
      <span>
        <%= link_to 'Edit', edit_group_path(@group) %>
      </span>  
    <% end %>
  </h1>

  <% if current_user && current_user == @group.owner %>
    <div>
      <div class="groups-show-form">
        <label>Invite Someone to This Group</label>
        <%= render 'invites/form' %>
      </div>
      <% if @group.select_date.nil? %>
        <div class="groups-show-form">
        <label>Set Selection Day</label>
          <%= render 'selection_dates/form' %>
        </div>
      <% else %>
        <h2>
          Selection Date
          <span>
            <%= link_to "edit", edit_selection_date_path %>
          </span>
        </h2>
        <p>
          <%= @group.select_date.date_in_words %>
        </p>
      <% end %>

      <% if @group.open_date.nil? %>
        <div class="groups-show-form">
          <label>Set Open Day</label>
          <%= render 'open_dates/form' %>
        </div>
      <% else %>
        <h2>
          Open Date
          <span>
            <%= link_to "edit", edit_open_date_path %>
          </span>
        </h2>
        <p>
          <%= @group.open_date.date_in_words %>
        </p>
      <% end %>
    </div>
  <% end %>

  <% unless current_user == @group.owner %>
    <% if @group.select_date %>
      <h2>Selection Date</h2>
      <p><%= @group.select_date.date_in_words %></p>
    <% end %>
    
    <% if @group.open_date %>
      <h2>Open Date</h2>
      <p><%= @group.open_date.date_in_words %></p>
    <% end %>
  <% end %>
  
  <% if @users.any? %>
    <h2>Group Members</h2>
    
    <ul>
      <% @users.sort.each do |user| %>
        <li>
          <%= image_tag placeholder_image size: 25 %>
          <%= link_to user.view_name, user %>
          <span>
            <%= link_to "remove", group_membership_path(@group.id, user.id), method: :delete, confirm: "Are you sure you want to remove #{user.view_name} from this group?" %>
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>