<div class="container">
  <h1>
    <%# image_tag placeholder_image size: 35 %>
    <%= @user.view_name %> 
    <% if signed_in? && @user == current_user %>
      <span>
        <%= link_to "Edit", user_auths_path(@user) %>
      </span>
    <% end %>
  </h1>
  
  <% if @groups.any? || @user == current_user %>
    <h2>Groups</h2>
  <% end %>
  
  <ul>
    <% @groups.alphabetize.each do |group| %>
      <li>
        <%= image_tag placeholder_image size: 20 %>
        <%= link_to group.name, group %>
          <% if current_user && @user == current_user %>
            <span>
              <%= link_to "unjoin", group_membership_path(group.id, @user.id), method: :delete, data: { confirm: "Are you sure you want to unjoin this group?" } %>
            </span>
          <% end %>
      </li>
    <% end %>
  </ul>
    
    <% if signed_in? && @user == current_user %>
      <div class="users-accept-form">
        <%= button_to "Start New Group", new_group_path, method: :get, class: "large-btn bot-10 top-5" %>
      </div>
    <% end %>

  <% if @user == current_user && @user.invites.any? %>
    <div>
      <h2>Group Invitations</h2>
      <% @user.invites.each do |invite| %>
        <div class="invite-accept-form">
          <%= form_tag accept_invite_path do %>
          <label><%= invite.group.name %><label>
            <%= hidden_field_tag :id, @user.id %>
            <%= hidden_field_tag :group_id, invite.group.id %>
            <div class="submit">
              <%= submit_tag "Accept" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @user == current_user && @user.gifts.any? %>
    <div>
      <h2>Get a gift for:</h2>
      <ul>
        <% @gifts.each do |gift| %>
          <li>
            <%= image_tag placeholder_image size: 20 %>
            <%= link_to gift.giftee.view_name, gift.giftee %> 
            <span class="giftee-span">
              by <%= gift.group.open_date.date_in_words %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <h2>Gift Lists<span> - coming soon!</span></h2>
  </div>
</div>