<header>
  <div class="header">
    <%= link_to(image_tag("logos/santa_logo_words.png", size: "72x50", id: "logo-img"), root_url) %>
    <%# link_to "secret santa", root_url, id: "logo" %>
    <div id="show-nav">
      <%= image_tag 'icons/menu_darkGray.png' %>
    </div>

    <div id="nav">
      <ul>
        <li>Menu</li>
        <li class="divider"></li>
        <li>
          <%= link_to "Home", root_path unless signed_in? %>
          <%= link_to current_user.view_name, current_user if signed_in? %>
        </li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Groups", groups_path %></li>
        <li class="divider"></li>
        <% if signed_in? %>
          <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
          <li class="divider"></li>
        <% else %>
          <li id="show-signin">Sign In</li>
        <% end %>
        <li id="signin">
          <div class="fields">
          <%= form_tag :sessions do %>
            <%= text_field_tag :email, nil, placeholder: "email", autofocus: true, class: "no-click" %><br>
            <%= password_field_tag :password, nil, placeholder: "password", class: "no-click" %><br>
            <div class="submit">
              <%= submit_tag "Sign In" %>
            </div>
          </div>
          <% end %>
          or, sign in with: <br>
          <%= link_to(image_tag('social_buttons/amazon_32.png'), '/auth/amazon') %>
          <%= link_to(image_tag('social_buttons/google_oauth2_32.png'), '/auth/google') %>
          <%# link_to(image_tag('social_buttons/facebook_32.png'), '/auth/facebook') %>
          <%# link_to(image_tag('social_buttons/twitter_32.png'), '/auth/twitter') %>
        </li>

        <% if signed_in? %>
          <li id="social links">
            <p>Link to:</p>
            <%= link_to(image_tag('social_buttons/amazon_32.png'), '/auth/amazon') %>
            <%= link_to(image_tag('social_buttons/google_oauth2_32.png'), '/auth/google') %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>